body{
    background-color: black;
    color: white;
}
.phone
{
    border: 2px solid red;
    width: 70%;
    margin-left: 34%;
    height: 100%;
    margin-top: 2px;
}
#code{
    height:60px;
    width: 150px;
    border-radius: 10px;
    font-size: larger;
    background-color: black;
    color: white;
    border: 0.5px solid white;
}
#ph{
    height:60px;
    width: 500px;
    border-radius: 10px;
    font-size: larger;
    background-color: black;
    color: white;
    margin-left: 30px;
    border: 0.5px solid white;
}
p{
    margin-left: 50%;
    font-size: 20px;
}
.down{
    width: 300px;
    justify-content: space-between;
}